@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(../../Content/bible.jpg); background-size:unset">
    <h1 style="color: black">Bible Verses</h1>
    <p class="lead" style="color: black">Save and Reflect on your favorite bible verses.</p> 
    <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Visit this page to add a verse.
        </p>
        <p><a class="btn btn-default" href="~/Home/AddVerse">Add Verse &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Find a verse</h2>
        <p> 
            Visit this page to search your collection.
        </p>
        <p><a class="btn btn-default" href="~/Home/Search">Search &raquo;</a></p>
    </div>    
</div>