@model Activity_3.Models.CustomerModel

<h3>Customer Details</h3>


@Html.DisplayNameFor(Model => Model.Name):@Html.DisplayFor(Model => Model.Name)
<br />
@Html.DisplayNameFor(Model => Model.Age):@Html.DisplayFor(Model => Model.Age)
<br />

<p>Updated at @DateTime.Now</p>